<div id="{{projectId}}-{{phaseId}}-{{goalId}}" 
		class="build-item build-item-{{phaseId}}"
		style="{{cssStyle}}"
		title="{{projectId}} ({{phaseId}}:{{goalId}})"
		data-deps="{{projectDeps}}"
		onclick="buildItemClicked(this)">
			{{projectId}}</div>

